Presentation.Impl/Service References/BillingService/BillingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service/BillingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCSMS.Model" />
  <xs:element name="QueryBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="QueryBillResult" nillable="true" type="q1:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="aBill" nillable="true" type="q2:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>