Presentation.Impl/Service References/KitchenRequest/KitchenRequest2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCSMS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCSMS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRequestHandleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestHandleInfo" nillable="true" type="tns:RequestHandleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestHandleInfo" nillable="true" type="tns:ArrayOfRequestHandleInfo" />
  <xs:complexType name="RequestHandleInfo">
    <xs:sequence>
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EntityId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsHandled_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_RequestType_x003E_k__BackingField" type="tns:RequestType" />
      <xs:element name="_x003C_SourceId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TargetId_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestHandleInfo" nillable="true" type="tns:RequestHandleInfo" />
  <xs:simpleType name="RequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ChangeItem" />
      <xs:enumeration value="OrderItem" />
      <xs:enumeration value="DeorderItem" />
      <xs:enumeration value="ChangeTable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestType" nillable="true" type="tns:RequestType" />
  <xs:complexType name="PriorityLevel">
    <xs:sequence>
      <xs:element name="_x003C_DelayedTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_LevelCount_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriorityLevel" nillable="true" type="tns:PriorityLevel" />
</xs:schema>