Presentation.Impl/Service References/KitchenRequest/KitchenRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service/KitchenRequest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCSMS.Model" />
  <xs:element name="ListenToServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListenToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q1:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="ChangeItemResult" nillable="true" type="q2:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q3:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="ChangeTableResult" nillable="true" type="q4:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q5:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="OrderItemResult" nillable="true" type="q6:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeorderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q7:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeorderItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="DeorderItemResult" nillable="true" type="q8:ArrayOfRequestHandleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrioritizeDish">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="level" nillable="true" type="q9:PriorityLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrioritizeDishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>