Presentation.Impl/Service References/DinningService/DinningService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service/DinningService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCSMS.Model" />
  <xs:import schemaLocation="http://localhost/Service/DinningService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="QueryItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="queryConditon" nillable="true" type="q1:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="QueryItemListResult" nillable="true" type="q2:ArrayOfSaleItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="QueryItemResult" nillable="true" type="q3:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialOfferForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="anItem" nillable="true" type="q4:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialOfferForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="GetSpecialOfferForItemResult" nillable="true" type="q5:ArrayOfSpecialOffer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="GetRecommendItemResult" nillable="true" type="q6:ArrayOfSaleItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q7:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeorderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q8:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeorderItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPair" nillable="true" type="q9:ArrayOfKeyValueOfItemItemL_PA6bpKj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSpecialOfferForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="anItem" nillable="true" type="q10:Item" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="offerList" nillable="true" type="q11:ArrayOfSpecialOffer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSpecialOfferForItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q12:ArrayOfSaleItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="itemList" nillable="true" type="q13:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="QueryTableResult" nillable="true" type="q14:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTableList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="condition" nillable="true" type="q15:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTableListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="QueryTableListResult" nillable="true" type="q16:ArrayOfTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAvailableTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAvailableTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="QueryAvailableTableResult" nillable="true" type="q17:ArrayOfTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HCSMS.Model" minOccurs="0" name="GetTableResult" nillable="true" type="q18:ArrayOfTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tables" nillable="true" type="q19:ArrayOfKeyValueOfTableDinningTableL_PA6bpKj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldTableNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newTableNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptServerReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callBackId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptServerReplyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>